
@import '../../themes/_variable.scss' ;
@import '../../themes/_basic.scss' ;

.detail-page{
    margin-bottom: 50px;
}
section{
    background: #fff;
    margin-bottom: 10px;

}
section:last-child{
    margin-bottom: 0px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}

.hb{
    border-bottom: 1px solid #f3f5f7;
    padding: 12px 15px;
    font-size: 15px;
}
.hb img{
    height: 20px;
    margin-left: 16px;
}
.bc{
    padding: 12px 15px;
}

.original-price{
    text-decoration: line-through;
    color:#999999;
}
.pm{
    margin-left: 10px;
}
.original-text{
    font-size:13px;
    color:#999999;
}
.special-offer{
    color: #FF6300;
}
.special-price{
    font-size:26px; 
}
.special-text{
    font-size:13px;
    color:#ff6300;
    margin-left: 5px;
    margin-right: 60px;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.star-score{
    color: #999;
    font-size:14px; 
    @extend %mid;
}
.icon-right{
    font-size:17px;
    color: #999; 
    margin-left: 16px;
}


.banner{
    margin: 0;
    padding: 0;
}

.servr-info{
    padding: 10px 15px;
}
.servr-info h1{
    font-size: 16px;
}

.server-limit{
    padding: 10px 15px 0px 15px;
}
.limit-tip:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.limit-tip li{
    float: left;
    padding: 0px 12px 10px 0;
    font-size: 11px;
    color:#999999;
}
.limit-tip li i{
    font-size: 13px;
    margin-right: 5px;
}
.limit-tip li i.limit-icon{
    color: #ff6300;
}

.comment-summary ul:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.comment-summary .summary-label{
    padding-bottom: 0;
}
.comment-summary li{
    float: left;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin:0px 12px  12px 0px;
    font-size: 12px;
}


.store-info:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.store-info div{float: left;};
.store-info div.store-address{
     width: 63%;
}
.store-info div.store-address h1{
     font-size: 14px;
     font-weight: 500;
     margin-bottom: 3px;
}
.store-info div.store-address span{
     font-size: 13px;
     color:#999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.store-info div.store-distance{
    width: 17%;
    margin: 0 1%;
    height: 40px;
    position: relative;
}
.store-info div.store-distance span{
     position: absolute;
     bottom: 0;
     font-size: 13px;
     color: #ff6300;
}
.store-info div.store-address .address-icon{
    position: relative;
}
.store-info div.store-address .address-icon i{
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 20px;
}
.store-info div.store-address .address-icon span{
    padding-left: 20px;
}
.store-info div.store-phone{
    border-left: 1px solid #f3f5f7;
    line-height: 40px;
    width: 17%;
    text-align: center;
     height: 40px;
}
.store-info div.store-phone i{
    font-size: 24px;
    color: #FF6300;
}
.store-detail{
    border-bottom: 0;
    border-top: 1px solid #f3f5f7;
}


.notice-head,.package-head{
    text-align:center;
    font-weight: 500;
}
.package-content div:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.package-content .package-name{
    display: inline-block;
    width: 60%;
}
.package-rule{
    width: 40%;
}
.package-rule span{
    display: inline-block;
    width: 50%;
    
}
.package-content  .package-list{
    margin-bottom: 10px;
}
.package-content  .package-sum{
    margin: 5px 0;
}

.notice-contain .notice-list{
    margin-bottom: 10px; 
}
.notice-contain .notice-title{
     font-weight: 500;
}
.notice-contain .notice-con{
    color:#666;
    margin-top: 3px;
}
.notice-contain ul li{
    margin-bottom: 5px; 
}

.comment-contain{
    background: #fff;
}

 .comment-contain .comment-content ul:after {
        display: block;
        content: "clear";
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
    
.comment-contain .comment-list {
        padding: 10px 0px;
}
 .comment-contain .more {
        text-align: center;
        margin-top: 10px;
        padding-bottom: 14px;
    }
    
    .comment-contain .more button {
        border: 1px solid #FF6300;
        height: 26px;
        line-height: 26px;
        display: inline-block;
        padding: 0px 9px;
        font-size: 12px;
        color: #FF6300
    }


.buy-tab:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.buy-tab{
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0;
    // padding: 0 15px;
    border-top:1px solid #e2e4e5; 
}
.buy-tab div{
     width: 45%;
     padding-left: 15px;
}
.buy-tab button{
    height: 50px;
    border: 0;
    color: #fff;
    width: 50%;
    border-radius: 0;
    font-size: 16px;
    display: inline;
}
.buy-tab button.saleing{
    background: #FF6300;
}
.buy-tab button.sale-time{
    background:#f6a623
}

.store-lately{
    padding:10px 14px;
    padding-right: 0;
}


//图文
.graphic{
    padding-bottom: 50px;

}