
@import '../../themes/_variable.scss' ;
@import '../../themes/_basic.scss' ;

.smi-content{
}
section{
     background: #fff;
     font-size: 15px;
}
.spacing{
    padding: 0 15px;
}
.margin-bottom{
    margin-bottom: 10px; 
}
.bottom-border{
    border-bottom: 1px solid #f3f5f7;
}
.row-heigth{
    height: 50px;
    line-height: 50px;
}
.mh{
    height: 45vh;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cell{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    display: inline-block;
}

.flow-h{
    //  height: 50px;
   
}
.flow-h:after,.flow-h .spacing:after{
    display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;
}
.flow-h .spacing{
 position: relative;
}
.flow-change{
    margin: 7px 0;
    width: 81%;
}
.flow{
    font-size: 12px;
    color:#ff6300;
}
.flow-switch{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate3d(0,-50%,0);
}
.switch-bg{
    margin:11px 0;
}
.icon-right{
    font-size:17px;
    color: #999; 
    margin-left: 8px;
}


.select{
    float: right;
    display: -webkit-flex;
    display: flex;
    height: 50px;
    align-items: center;
}
.select button{
    border-radius:1px;
    width:30px;
    height:30px;
    line-height: 30px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-right:-1px;
    color: #ccc;
    -webkit-appearance: none;
}
.select button.add{
    background:#fff;
    background-image: url("../../assets/icons/pop_icon_reduce_nor@2x.png");
    background-repeat: no-repeat;
    background-position: 50%;
    color: #999999;
    border-radius: 0px 4px 4px 0px;
    background-size: 40%;
}
.select button.reduce{
    background:#fff;
    background-image: url("../../assets/icons/pop_icon_add_nor@2x.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 35%;
    border-radius:4px 0 0 4px;
}
.select input{
    background:#fff;
    border-radius:1px;
    width:40px;
    height:28px;
    border: 0;
    font-size: 15px;
    border: 1px solid #ccc;
    margin-right:-1px; 
    text-align: center;
     -webkit-appearance: none;
}

.submit-tab{
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0;
    font-size: 16px;
    border-top:1px solid #e2e4e5; 
}
.submit-tab .sum-sum{
   color:#FF6300;
}
.submit-tab div{width: 45%; padding-left:15px; }
.submit-tab button{
    height: 50px;
    border: 0;
    background: #FF6300;
    color: #fff;
    width: 50%;
    border-radius: 0;
   
}

   .icon-wenhao{
    font-size: 14px;
    margin-left: 5px;
    color:#ccc;
    }

   .show-rule{
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: rgba(0,0,0,0.1);
             margin: 0 auto;
            
        }
        .show-rule .rule{
            background: #fff;
            margin: 0 auto;
            margin: 190px 32px 0 32px;
            border-radius: 4px;
            position: relative;
        }
        .show-rule .rule-h{
            height: 50px;
            border-bottom: 1px solid #f3f5f7;
            line-height: 50px;
            padding: 0 15px;
            text-align: center;
            font-size: 16px;
        }
        .show-rule .rule-content{
           font-size: 14px;
           margin: 15px 35px 22px 35px;
        }
        .show-rule .rule-content p{
           margin-bottom: 10px;
        }

    
         .show-rule .close-rule{
             text-align: center;
         }
        .show-rule .close-rule button{
             font-size: 14px;
             display: inline-block;
             padding: 8px 50px;
             margin-bottom: 36px;
             border:1px solid #cccccc;
             border-radius:4px;
         }

